*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
img{display: block;}
a{text-decoration: none; color: #646464;}
h1,h2,h3{font-size: 16px;}
body{font-family: Arial;}

.l{float: left;}
.r{float: right;}
.clear:after{content: ""; display: block; clear: both;}/* 清浮动 */
.container{width: 1082px; margin: 0 auto; position: relative;}/* 版心：相对于通栏中间的那个区域，居中，且需要内部区域随版心进行定位，所以加一个相对定位 */
.container-fluid{width: 100%;}/* 通栏：宽度占页面百分百 */

#head{height: 81px;}
#head .head_logo{width: 162px; height: 44px; margin-top: 19px;}
#head .head_menu{font-size: 14px; line-height: 81px;}
#head .head_menu li{float: left; margin-left: 58px;}

#foot{background: #66c5b4;}
#foot .container{height: 54px; line-height: 54px; font-size: 12px; color: white;}
#foot a{color: white; margin: 0 10px;}

.area_title{margin-top: 60px; text-align: center;}
.area_title h2{height: 20px; line-height: 20px; font-size: 20px; font-weight: normal; color: #363636; background: url(./博文尚美/title_bg.png) no-repeat center 7px;}
.area_title p{color: #9F9F9F; font-size: 14px; line-height: 34px; text-transform: uppercase;}